{% if page.post-type %}
<div class="{{ page.post-type }}">
{% else %}
<div class="post">
{% endif %}

	<div class="content">
		{% if headingtag %}
			<{{ headingtag }} class="title"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></{{ headingtag }}>
		{% else %}
			<h1 class="title"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>
		{% endif %}
		{{ body }}
	</div>

{% unless page.hide_meta %}
	<div class="meta">
		<span class="author">Mateusz Uzdowski</span> &middot;
		<span class="date">{{ page.date | date: "%e" | ordinalize }} {{ page.date | date: "%B"}} {{ page.date | date: "%Y"}}</span>
	</div>
{% endunless %}
</div>
