<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<base href="{{ site.baseurl }}">
		<title>
			{% if page.title %}{{ page.title }} &middot; {% endif %}
			Mateusz Uzdowski on SilverStripe
		</title>
		{% if page.description %}
			<meta name="description" content="{{ page.description }}"/>
		{% endif %}
		{% if page.robots %}
			<meta name="robots" content="{{ page.robots }}"/>
		{% endif %}
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" href="css/syntax.css" type="text/css" />
		<link rel="canonical" href="{{ site.url }}"/>
		<meta name="viewport" content="width=850" />
		<link rel="stylesheet" media="screen and (max-device-width: 480px)" href="css/iphone.css" type="text/css"/>
		<link rel="alternate" type="application/atom+xml" title="Atom feed" href="atom.xml">
	</head>
	<body>
		<div id="container">
			<div id="header" class="menubar">
				{% include menubar.html %}
			</div>
			<div id="main">
				{{ content }}
			</div>
		</div>
	</body>
</html>
