---
layout: default
---
{% assign body = content %}
{% include post-div.html %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'technikisilverstripe';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

{% if site.posts %}
<div class="related">
	<h3>Najnowsze artykuły</h3>
	<p>{% for post in site.posts limit:5 %}<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}</p>
</div>
{% endif %}
